/* style.css */
table
{
  width: 99%;
  table-layout: fixed;
  border-collapse: collapse;
  min-height: 85px;
}
.transaction 
{
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  position: relative;
  cursor: pointer;
}
.nowrap 
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.title 
{
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}
.balance 
{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  background-color: whitesmoke;
}
.note 
{
  font-size: 13px;
  font-weight: bold;
}
.amount 
{
  font-size: 14px;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
}
.date-time 
{
  font-size: 12px;
  width:30%;
  font-weight: bold;
}
.three-dots 
{
  position: absolute;
  top: 3px;
  right: 6px; 
  cursor: pointer;
  font-size: 20px;
  color: black;
}
body 
{
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background: #d2f2fc;
}
h2 
{
  text-align: center;
}
#mainTransactionDetails 
{
  background: #fff;
  padding: 10px 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
#mainTransactionDetails span 
{
  display: inline-block;
}
.green, .credit, .positive
{
  color: #27ae60; 
  font-weight: bold;
}
.red, .debit, .negative
{ 
  color: red; 
  font-weight: bold;
}
.nested 
{
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
}
.nested.debit
{
  background: #fff;
  color: #fa2c2c;
}
.nested.credit 
{
  background: #fff;
  color: #27ae60;
}
.nested img 
{
  max-height: 80px;
  max-width: 95%;
  object-fit: cover;
  float: left;
  border-radius: 6px;
  background-color: whitesmoke;
}
.dropdown 
{
  position: absolute;
  top: 10px;
  right: 10px;
  background: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: none;
  z-index: 10;
}
.dropdown button 
{
  background: none;
  border: none;
  padding: 7px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.dropdown button:hover 
{
  background: #f1f1f1;
}
.form-group 
{
  margin: 10px 0; 
  
}
.form-actions 
{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.form-section 
{
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 0.3s ease-in-out;
  display: inline-block;
}
.form-outline{
  display: inline-block;
  background-color: #fd02d8;
  padding: 5px;
  border-radius: 15px;
}
.form-layer{
  display: flex;
  justify-content: space-between;
}
input, select 
{
  width: 95%;
  padding: 8px;
  margin: 5px 0 10px;
  border: 1px solid #fd02d8;
  border-radius: 6px;
}
#addBtn 
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  font-size: 40px;
  background: #fd02d8;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.save-btn, .cancel-btn 
{
  padding: 13px 22px;
  border: none;
  border-radius: 100px;
  width: 100px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  background: #fd02d8;
  font-weight: bold;
}
@keyframes fadeIn 
{
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}